<div class="row">
  <div class="btn-group">
    <% if activity.user.avatar? %>
      <%= image_tag activity.user.avatar.url,
        class: "img-responsive img-avatar-small" %>
    <% else %>
      <%= image_tag Settings.avatar_default,
        class: "img-responsive img-avatar-small" %>
    <% end %>
  </div>
  <span><%= activity.user.name %></span>
  <span><%= activity.action_type %></span>
</div>
